* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, sans-serif;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  background: rgba(255, 255, 255, 255);
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 3vh 2vw;
}

/*
  ████████  ██████  ██████        ██████   █████  ██████  
     ██    ██    ██ ██   ██       ██   ██ ██   ██ ██   ██ 
     ██    ██    ██ ██████  █████ ██████  ███████ ██████  
     ██    ██    ██ ██            ██   ██ ██   ██ ██   ██ 
     ██     ██████  ██            ██████  ██   ██ ██   ██
*/

.top-bar {
  display: flex;
  background-color: #166cbd;
  height: 7vh;
  user-select: none;
}

.top-bar .item {
  display: flex;
  align-items: center;
  padding: 0 1em;
  font-size: 1em;
  color: #fff;
}

.top-bar hr {
  background-color: #fff;
  border: none;
  width: 1px;
  margin: 0;
}

.top-bar .selectable {
  cursor: pointer;
  transition: background-color 150ms;
}

.top-bar .selectable:hover {
  background-color: #197bd6;
}

.top-bar .selectable:active {
  background-color: #1c89ef;
}

.top-bar .static {
  background-color: #115798;
  font-size: 1.1em;
  font-weight: bold;
  cursor: default;
}

.top-bar .item img {
  height: 50%;
  margin-right: 0.5em;
}

.top-bar .item:first-child img {
  height: 70%;
}

/*
███████ ███████  █████  ██████   ██████ ██   ██ 
██      ██      ██   ██ ██   ██ ██      ██   ██ 
███████ █████   ███████ ██████  ██      ███████ 
     ██ ██      ██   ██ ██   ██ ██      ██   ██ 
███████ ███████ ██   ██ ██   ██  ██████ ██   ██
*/

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.search-container input {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  flex: 1;
}

#query {
  border-radius: 4px;
  padding: 14px 20px;
  border: 1px solid #ccc;
}

.search-section {
  display: flex;
  margin-top: 10px;
}


/*
███████ ███████  █████  ██████   ██████ ██   ██       ██████  ██    ██ ████████ ████████  ██████  ███    ██ 
██      ██      ██   ██ ██   ██ ██      ██   ██       ██   ██ ██    ██    ██       ██    ██    ██ ████   ██ 
███████ █████   ███████ ██████  ██      ███████ █████ ██████  ██    ██    ██       ██    ██    ██ ██ ██  ██ 
     ██ ██      ██   ██ ██   ██ ██      ██   ██       ██   ██ ██    ██    ██       ██    ██    ██ ██  ██ ██ 
███████ ███████ ██   ██ ██   ██  ██████ ██   ██       ██████   ██████     ██       ██     ██████  ██   ████                                                                                                                                                                                                                     
*/

#search {
  background-color: #115798;
  background-image: url(./assets/ic_search.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  color: #fff;
  align-self: center;  
  width: 70px;
  height: 100%;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: large;
  transition: background-color 150ms, box-shadow 150ms;
}

#search:hover {
  background-color: #1772c6;
}

#search:active {
  box-shadow: 0 0 5px 0 gray;
}

#search:disabled {
  color: silver;
  background-color: gray;
  cursor: not-allowed;
}

/*
██       ██████   ██████  ███████ 
██      ██    ██ ██       ██      
██      ██    ██ ██   ███ ███████ 
██      ██    ██ ██    ██      ██ 
███████  ██████   ██████  ███████ 
*/
#page-selector {
  display: flex;
  align-items: center;
  
}

#page-selector label:first-child {
  margin-right: 10px;
}

#page-selector label:not(:first-child) {
  margin: 0 10px 0 auto;
}

#select-page-size {
  font-size: large;
  font-family: inherit;
  border-color: lightgray;
}

/*
██       ██████   ██████        ██████   █████   ██████  ███████ 
██      ██    ██ ██             ██   ██ ██   ██ ██       ██      
██      ██    ██ ██   ███ █████ ██████  ███████ ██   ███ █████   
██      ██    ██ ██    ██       ██      ██   ██ ██    ██ ██      
███████  ██████   ██████        ██      ██   ██  ██████  ███████ 
*/

table#log-page th {
  text-align: left;
  color: #333333;
  padding: 5px;
}

table#log-page tr:not(:first-child) th {
  color: #000;
}

#copy {
  background-color: #505050;
}

#copy:hover {
  background-color: #404040;
}

#copy:active {
  background-color: #353535;
}

/*
  ████████  █████   ██████  
     ██    ██   ██ ██       
     ██    ███████ ██   ███ 
     ██    ██   ██ ██    ██ 
     ██    ██   ██  ██████                                             
*/

.tag {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: 24px;
  border-radius: 5px;
  padding: 2px 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 2px #333333;
  margin: 2px;
  user-select: none;
}

.tag img {
  height: 70%;
  margin-right: 5px;
  filter: drop-shadow(0px 1px 1px #303030);
}

/*
 ██████  ███████ ███    ██ ███████ ██████   █████  ██      
██       ██      ████   ██ ██      ██   ██ ██   ██ ██      
██   ███ █████   ██ ██  ██ █████   ██████  ███████ ██      
██    ██ ██      ██  ██ ██ ██      ██   ██ ██   ██ ██      
 ██████  ███████ ██   ████ ███████ ██   ██ ██   ██ ███████ 
*/

.rouded {
  border-radius: 100px;
}

.clickable {
  cursor: pointer;
}

.empty {
  background-color: #d1d1d1;
}

.time {
  background-color: #707070;
}

.all {
  background-color: #8a8a8a;
}

/*
██████  ██████  ██  ██████  ██████  ██ ████████ ██ ███████ ███████ 
██   ██ ██   ██ ██ ██    ██ ██   ██ ██    ██    ██ ██      ██      
██████  ██████  ██ ██    ██ ██████  ██    ██    ██ █████   ███████ 
██      ██   ██ ██ ██    ██ ██   ██ ██    ██    ██ ██           ██ 
██      ██   ██ ██  ██████  ██   ██ ██    ██    ██ ███████ ███████
*/

.emerg {
  background-color: #b71c1c;
}

.alert {
  background-color: #d32f2f;
}

.crit {
  background-color: #f44336;
}

.err {
  background-color: #ff5722;
}

.warning {
  background-color: #ff9100;
}

.notice {
  background-color: #4caf50;
}

.info {
  background-color: #1976d2;
}

.debug {
  background-color: #50c2d6;
}

/*
███████  █████   ██████ ██ ██      ██ ████████ ███████ ███████ 
██      ██   ██ ██      ██ ██      ██    ██    ██      ██      
█████   ███████ ██      ██ ██      ██    ██    █████   ███████ 
██      ██   ██ ██      ██ ██      ██    ██    ██           ██ 
██      ██   ██  ██████ ██ ███████ ██    ██    ███████ ███████ 
*/

.kern {
  background-color: #2f4f4f;
}

.user {
  background-color: #008040;
}

.mail {
  background-color: #cd853f;
}

.daemon {
  background-color: #4b0082;
}

.auth {
  background-color: #b03060;
}

.syslog {
  background-color: #d41f1f;
}

.lpr {
  background-color: #40e0d0;
}

.news {
  background-color: #40b640;
}

.cron {
  background-color: #2d2dc0;
}

.authpriv {
  background-color: #d415d4;
}

.ftp {
  background-color: #a78c12;
}

.local {
  background-color: #6495ed;
}

/*
██████   █████  ████████ ███████ 
██   ██ ██   ██    ██    ██      
██   ██ ███████    ██    █████   
██   ██ ██   ██    ██    ██      
██████  ██   ██    ██    ███████                       
*/

.datepickerdropdown {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAIAAADvIroEAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAIhJREFUOE99w4cRgDAQBLHtvzKyyWByhjKo4E8z4vs+3vc1P8+Det836nVdqOd5oh7HgXXfd9Rt21DXdUVdlgV1nmes0zShjuOIOgwDqvcete97rF3XobZti9o0DWpd16hVVaGWZYm1KArUPM9RnXOoWZahpmmKNUkS1DiOUaMoQg3DEDUIAow/RjJ3qB92TU4AAAAASUVORK5CYII=);
  border: 1px solid #888;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  text-align: center;
}
.datepickerdropdown table {
  border-collapse: collapse;
  margin: auto;
}
.datepickerdropdown input {
  font-family: monospace;
  border: 1px solid #888;
  border-radius: 3px;
  margin: 1px;
  padding: 2px 5px;
  text-align: center;
}
.datepickerdropdown table input[type="button"] {
  width: 2em;
}
.datepickerdropdown input[type="button"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAElJREFUGFeNwwEGACEQQNF//6MlSRSRSMMkY86wdk+wj4e78zaz772Xcw6qioiw92atxZyTMQa9d1pr1FoppZBzJqVEjJEQwt8PXeRLuM/peRgAAAAASUVORK5CYII=);
}
.datepickerdropdown input[type="button"]:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFpJREFUGFdjePfuAgMIv3lzCoxfvTrK8OLFAYbnz/cyPHmyleHx480MDx+uY7h3bxnDnTsLGW7enMVw7dpkhqtXJzJcutTFcOFCG8O5c00MZ87UMZw6VUksBgDwaURPl4Jv2AAAAABJRU5ErkJggg==);
}
.datepickerdropdown input[type="button"]:active {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAFhJREFUGFdjOHWqkuHMmTqGc+eaGC5caGO4dKmL4erViQzXrk1muHlzFsOdOwsZ7t1bxvDw4TqGx483Mzx5spXh+fO9DC9eHGB49eoow5s3p8D43bsLpGAAr0NKhZpZNgcAAAAASUVORK5CYII=);
  padding: 2px 4px 2px 6px;
}
.datepickerdropdown input.selected {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjM2qefiJQAAAEBJREFUGFdj+P//P8P//5+A+CkQXwfiU0C8B4jXA/EiIJ4CxO1AXAnEOUAcB8SBQOwCxGZArAnE0kDMB8QMxGIAwnRFxCnPkL8AAAAASUVORK5CYII=);
}
.datepickerdropdown input[type="text"] {
  background: #fff;
  color: #000;
}
.datepickerdropdown input.today {
  border: 1px solid red;
}
.datepickerdropdown input.othermonth {
  color: #aaa;
  border: 1px solid #bbb;
}
.datepickershow img {
  border: 0;
}
.monthDsp {
  width: 80px;
  font-size: 9px;
}
.daysRow {
  font-family: sans-serif;
  font-size: 11px;
}

/*
████████  █████  ██████  ██      ███████ 
   ██    ██   ██ ██   ██ ██      ██      
   ██    ███████ ██████  ██      █████   
   ██    ██   ██ ██   ██ ██      ██      
   ██    ██   ██ ██████  ███████ ███████
*/
.table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;  
}

.table td:nth-child(5), .table th:nth-child(5) {	
  white-space: pre-line;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1772c6;
  color: white;
}

#formtime {
  max-width: 320px;
}

.time-picker.open {
  border: 1px solid #dddddd;
  padding: 15px;
  transition: all 0.5s ease;
  height: auto;
  background-color: #fcfcfc;
}
